<div class="application-summary">
	<div class="application-votes">
		{{> application-votes }}
	</div>
	<div class="application-status">
		{{> application-status }}
	</div>
	<div class="application-controls">
		{{> application-controls }}
	</div>
</div>
