{{#if controls}}
	{{#if controls.mod}}
		<a class="btn btn-default" href="#" role="button">Одобрить</a>
		<a class="btn btn-default" href="#" role="button">Закрыть</a>
		<a class="btn btn-default" href="#" role="button">Отказать</a>
	{{/if}}
	<a class="btn btn-default" href="#" role="button">За</a>
	<a class="btn btn-default" href="#" role="button">Медуза</a>
	<a class="btn btn-default" href="#" role="button">Против</a>
{{/if}}
