<div class="progress">
	<div class="positive progress-bar progress-bar-success" style="width: 40%" data-toggle="tooltip" title="проголосовали ЗА">
		<span class="percents no-select"></span>
	</div>
	<div class="jellyfish progress-bar progress-bar-gray" style="width: 20%" data-toggle="tooltip" title="воздержались от голосования">
		<span class="percents no-select"></span>
	</div>
	<div class="negative progress-bar progress-bar-danger" style="width: 40%" data-toggle="tooltip" title="проголосовали ПРОТИВ">
		<span class="percents no-select"></span>
	</div>
</div>

<div class="voters">
	<div class="positive">
	</div>
	<div class="jellyfish">
	</div>
	<div class="negative">
	</div>
</div>
