<div class="gta-related" data-game="gta">
	<hr>
	<h3 class="header">GTA Online</h3>

	<div class="row">
		<div class="col-xs-12">
			Для игры
			<strong>GTA Online</strong> достаточно заполнить разделы
			<strong>Персональная информация</strong> и
			<strong>Контактная информация</strong>
		</div>
	</div>

</div>
