.application-form-layout {
	.apb-related,
	.bns-related,
	.gta-related {
		display: none;
	}
}

.application-form-layout,
.statute-layout {
	display: none;
}

.inline-block {
	display: inline-block;
}

.screenshot-form {
	display: none;
}
